* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
}

header, footer, .content, .sidebar {
  padding: 10px;
}

header {
  background-color: #222;
  color: #AAA;
  padding: 10px;
  width: 100%;
  height: 100px;
  line-height: 80px;
}

footer {
  clear: both;
  background: #888;
  text-align: center;
}

header h1 {
  float: left;
}

header nav {
  float: right;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
}

.container {
  overflow: hidden;
  width: 100%;
}

.sidebar, .content {
  padding-bottom: 66666px;
  margin-bottom: -66660px;
}

.sidebar {
  background-color: #333;
  float: left;
  width: 150px;
}

.sidebar nav {

}

.sidebar ul {

}

.sidebar li {
  padding: 5px 10px;
}

.sidebar a {
  color: white;
  display: block;
}

.content-wrapper {
  float: left;
  margin-left: -150px;
  width: 100%;
}

.content {
  background-color: yellow;
  margin-left: 150px;
}

.content table {
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

.content th {
  background-color: #EEE;
  padding: 5px 10px;
}

.content td {
  border: 2px solid #EEE;
  padding: 10px;
}
