* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 500px;
}

a {
  color: #DDD;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

header, footer, .content, .sidebar {
  padding: 10px;
}

header {
  background-color: #222;
  color: #AAA;
  padding: 10px;
  width: 100%;
  height: 100px;
  line-height: 80px;
}

footer {
  clear: both;
  background: #888;
  color: #666;
  text-align: center;
}

header h1 {
  float: left;
}

header nav {
  float: right;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
  padding: 10px;
}

main {
  overflow: hidden;
  width: 100%;
}

.light {
  color: #DDD;
}

.sidebar, .content {
  padding-bottom: 66666px;
  margin-bottom: -66660px;
}

.sidebar {
  background-color: #333;
  float: right;
  width: 150px;
}

.sidebar li {
  padding: 5px 10px;
  display: block;
}

.content-wrapper {
  float: right;
  margin-left: -150px;
  width: 100%;
}

.content {
  background-color: yellow;
  margin-left: 150px;
}

.content table {
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

.content th {
  background-color: #FFF;
  padding: 5px 10px;
}

.content td {
  background-color: #DDD;
  border: 2px solid #FFF;
  padding: 10px;
}
